table {
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #d8d8d8;
}

td {
  border: 1px solid #d8d8d8;
  width: 100%;
  padding: 4px;
  font-size: 10pt;
}

input {
  padding: 3px;
  border: none;
  font-size: 10pt;
}

paper-button {
  color: #4285f4;
}